extends layout

block content
    h1 Request Header Parser!
    h4 Get the IP address, language, and software information** about your computer by using this url:
    code http://localhost:3000/api/whoami
    p **software information will include operating system, platform, current browser, and broweser version