extends layout

block content
    .container
        .parser-container
            h1 Request Header Parser
            p Get the IP address, language, and software information** related to your device by using this url:
            code 
                a(href="/api/whoami" target="_blank") /api/whoami
            p **software information will include operating system, platform, current browser, and browser version
            h3 Example Output:
            pre.
                {
                    ipaddress: "159.20.14.100",
                    language: "en-US",
                    software: {
                        os: "Windows 10.0",
                        platform: "Microsoft Windows",
                        browser: "Chrome",
                        browserVersion: "67.0.3396.99"
                                }
                }
            h2.technologies Technologies Used: Node, Express, HTML, CSS, Javascipt